# K-12 School Shooting Dataset quick view
Run the cells below to inspect the sheets in the Excel workbook.

In [1]:
import pandas as pd

In [2]:
victims_ds = pd.read_csv("Victim.csv")
victims_ds.head(5)

     Incident_ID   Injury Gender School_Affiliation    Age Race
0  20250827MNANM    Fatal    NaN            Student      8  NaN
1  20250827MNANM    Fatal    NaN            Student     10  NaN
2  20250827MNANM  Wounded    NaN            Student  Child  NaN
3  20250827MNANM  Wounded    NaN            Student  Child  NaN
4  20250827MNANM  Wounded    NaN            Student  Child  NaN

In [3]:
incidents_ds = pd.read_csv("Incident.csv")
incidents_ds.head(5)

,Incident_ID,Month,Day,Year,Date,School,Victims_Killed,Victims_Wounded,Number_Victims,Shooter_Killed,...,Preplanned,SRO_School,Security_Screening,Screening_Outcome,Shots_Fired,School_Lockdown,LAT,LNG,Campus_Type,Zipcode
0,20250827MNANM,8,27,2025,2025-08-27,Annunciation Catholic School,2,17,19,1,...,Yes,No,NaN,Outside/Off-Property,99,Yes,44.904590,-93.286622,Multiple detached buildings,55419
1,20250826MNCRM,8,26,2025,2025-08-26,Cristo Rey Jesuit High School,1,6,7,0,...,No,NaN,NaN,Outside/Off-Property,30,No,44.950010,-93.271548,Urban Street Standalone,55408
2,20250822ILMAP,8,22,2025,2025-08-22,Manual High School,0,0,0,0,...,No,NaN,NaN,Outside/Off-Property,99,Yes,40.679481,-89.633994,Multiple attached buildings,61605
3,20250822KYMAM,8,22,2025,2025-08-22,Mayfield High School,0,1,1,0,...,No,NaN,NaN,Outside/Off-Property,99,No,36.730095,-88.626894,Multiple attached buildings,42066
4,20250820TNRIM,8,20,2025,2025-08-20,Riverview Middle School,0,0,0,0,...,No,NaN,NaN,NaN,99,NaN,35.096211,-90.070873,Single building indoor hallway,38109

In [4]:
shooters_ds = pd.read_csv("Shooter.csv")
shooters_ds.head(5)

,Incident_ID,Age,Gender,Race,School_Affiliation,Shooter_Outcome,Shooter_Died,Injury
0,20250827MNANM,23,Female,NaN,NaN,Suicide,Yes,Suicide
1,20250826MNCRM,Adult,Male,NaN,No Relation,Fled/Escaped,No,NaN
2,20250822ILMAP,15,Male,NaN,Student,Fled/Apprehended,No,NaN
3,20250822KYMAM,14,Male,NaN,Student,Fled/Apprehended,No,NaN
4,20250820TNRIM,Adult,Female,NaN,NaN,Apprehended/Killed by LE,No,NaN

In [5]:
weapons_ds = pd.read_csv("Weapon.csv")
weapons_ds.head(5)

     Incident_ID Weapon_Type Weapon_Caliber Weapon_Details
0  20250827MNANM       Rifle   .223 caliber            NaN
1  20250827MNANM     Shotgun       12 gauge            NaN
2  20250827MNANM     Handgun            NaN            NaN
3  20250826MNCRM       Rifle   .223 caliber    AR-15 rifle
4  20250822ILMAP     Handgun            NaN            NaN

In [6]:
# view counts in state column
incidents_ds["State"].value_counts()

State
CA    288
TX    249
IL    162
FL    160
OH    149
PA    134
NY    134
MI    125
TN    121
GA    118
NC    116
MD    103
LA     88
AL     78
WA     76
VA     73
MO     66
IN     63
SC     61
DC     59
CO     48
WI     48
MS     40
KY     39
OR     39
MN     37
AR     37
NJ     34
AZ     32
OK     32
MA     31
NM     30
CT     30
KS     29
UT     28
NV     26
DE     24
IA     23
NE     16
ID     12
MT     11
WV     10
NH      8
HI      8
RI      8
AK      7
ME      7
SD      6
VT      6
ND      4
WY      2
VI      1
Name: count, dtype: int64

In [9]:
# row count for dataset
print(incidents_ds.shape)
print(victims_ds.shape)
print(shooters_ds.shape)
print(weapons_ds.shape)

(3136, 50)
(3988, 6)
(3487, 8)
(3168, 4)

In [ ]:
# school column counts with repeat shootings with more than one victim
incidents_ds["School"].value_counts()

School
Central High School                            24
Roosevelt High School                          13
Booker T. Washington High School               13
Dunbar High School                             10
Lincoln High School                             9
                                               ..
Wisconsin Conservatory of Lifelong Learning     1
Marietta City Schools Bus Yard                  1
Hazelwood Central High School                   1
Houck Middle School                             1
Arrowview Middle School                         1
Name: count, Length: 2639, dtype: int64

In [12]:

victims_ds["School_Affiliation"].value_counts()

School_Affiliation
Student                                                2300
No Relation                                             473
Nonstudent Using Athletic Facilities/Attending Game     192
Teacher                                                 186
Other Staff                                              91
Parent                                                   65
Police Officer/SRO                                       46
Relative                                                 45
Principal/Vice-Principal                                 44
Former Student                                           31
Unknown                                                  26
Nonstudent                                               24
Gang Member                                              19
Bus Driver                                               18
Security Guard                                           15
Intimate Relationship                                     6
Former Teacher                                            3
Rival School Student                                      3
Visiting Student                                          1
Name: count, dtype: int64