# K-12 School Shooting Dataset quick view
Run the cells below to inspect the sheets in the Excel workbook.

In [1]:
import pandas as pd

In [2]:
victims_ds = pd.read_csv("../data/Public v4.1 K-12 School Shooting Database (8 28 2025) (2)__Victim.csv")
victims_ds.head(5)

     Incident_ID   Injury Gender School_Affiliation    Age Race
0  20250827MNANM    Fatal    NaN            Student      8  NaN
1  20250827MNANM    Fatal    NaN            Student     10  NaN
2  20250827MNANM  Wounded    NaN            Student  Child  NaN
3  20250827MNANM  Wounded    NaN            Student  Child  NaN
4  20250827MNANM  Wounded    NaN            Student  Child  NaN

In [3]:
incidents_ds = pd.read_csv("../data/Public v4.1 K-12 School Shooting Database (8 28 2025) (2)__Incident.csv")
incidents_ds.head(5)

,Incident_ID,Month,Day,Year,Date,School,Victims_Killed,Victims_Wounded,Number_Victims,Shooter_Killed,...,Shots_Fired,School_Lockdown,LAT,LNG,Campus_Type,Zipcode,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53
0,20250827MNANM,8.0,27.0,2025.0,2025-08-27 00:00:00,Annunciation Catholic School,2.0,17.0,19.0,1.0,...,99,Yes,44.904590,-93.286622,Multiple detached buildings,55419,NaN,NaN,NaN,NaN
1,20250826MNCRM,8.0,26.0,2025.0,2025-08-26 00:00:00,Cristo Rey Jesuit High School,1.0,6.0,7.0,0.0,...,30,No,44.950010,-93.271548,Urban Street Standalone,55408,NaN,NaN,NaN,NaN
2,20250822ILMAP,8.0,22.0,2025.0,2025-08-22 00:00:00,Manual High School,0.0,0.0,0.0,0.0,...,99,Yes,40.679481,-89.633994,Multiple attached buildings,61605,NaN,NaN,NaN,NaN
3,20250822KYMAM,8.0,22.0,2025.0,2025-08-22 00:00:00,Mayfield High School,0.0,1.0,1.0,0.0,...,99,No,36.730095,-88.626894,Multiple attached buildings,42066,NaN,NaN,NaN,NaN
4,20250820TNRIM,8.0,20.0,2025.0,2025-08-20 00:00:00,Riverview Middle School,0.0,0.0,0.0,0.0,...,99,NaN,35.096211,-90.070873,Single building indoor hallway,38109,NaN,NaN,NaN,NaN

In [4]:
shooters_ds = pd.read_csv("../data/Public v4.1 K-12 School Shooting Database (8 28 2025) (2)__Shooter.csv")
shooters_ds.head(5)

,Incident_ID,Age,Gender,Race,School_Affiliation,Shooter_Outcome,Shooter_Died,Injury
0,20250827MNANM,23,Female,NaN,NaN,Suicide,Yes,Suicide
1,20250826MNCRM,Adult,Male,NaN,No Relation,Fled/Escaped,No,NaN
2,20250822ILMAP,15,Male,NaN,Student,Fled/Apprehended,No,NaN
3,20250822KYMAM,14,Male,NaN,Student,Fled/Apprehended,No,NaN
4,20250820TNRIM,Adult,Female,NaN,NaN,Apprehended/Killed by LE,No,NaN

In [5]:
weapons_ds = pd.read_csv("../data/Public v4.1 K-12 School Shooting Database (8 28 2025) (2)__Weapon.csv")
weapons_ds.head(5)

,Incident_ID,Weapon_Type,Weapon_Caliber,Weapon_Details,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,20250827MNANM,Rifle,.223 caliber,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20250827MNANM,Shotgun,12 gauge,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20250827MNANM,Handgun,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20250826MNCRM,Rifle,.223 caliber,AR-15 rifle,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20250822ILMAP,Handgun,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# view counts in state column
incidents_ds["State"].value_counts()

State
CA    288
TX    249
IL    162
FL    160
OH    149
NY    134
PA    134
MI    125
TN    121
GA    118
NC    116
MD    103
LA     88
AL     78
WA     76
VA     73
MO     66
IN     63
SC     61
DC     59
CO     48
WI     48
MS     40
KY     39
OR     39
MN     37
AR     37
NJ     34
AZ     32
OK     32
MA     31
NM     30
CT     30
KS     29
UT     28
NV     26
DE     24
IA     23
NE     16
ID     12
MT     11
WV     10
HI      8
RI      8
NH      8
ME      7
AK      7
SD      6
VT      6
ND      4
WY      2
VI      1
Name: count, dtype: int64

In [7]:
# row count for dataset
print(incidents_ds.shape)
print(victims_ds.shape)
print(shooters_ds.shape)
print(weapons_ds.shape)

(3575, 54)
(8370, 6)
(3542, 8)
(3500, 26)

In [8]:
# school column counts with repeat shootings with more than one victim
incidents_ds["School"].value_counts()

School
Central High School                 24
Booker T. Washington High School    13
Roosevelt High School               13
Dunbar High School                  10
Lincoln High School                  9
                                    ..
LaRose Elementary School             1
Grand Rapids High School             1
Bay Shore High School                1
Camino Pablo Elementary School       1
Irwing Avenue Junior High School     1
Name: count, Length: 2639, dtype: int64

In [9]:

victims_ds["School_Affiliation"].value_counts()

School_Affiliation
Student                                                2300
No Relation                                             473
Nonstudent Using Athletic Facilities/Attending Game     192
Teacher                                                 186
Other Staff                                              91
Parent                                                   65
Police Officer/SRO                                       46
Relative                                                 45
Principal/Vice-Principal                                 44
Former Student                                           31
Unknown                                                  26
Nonstudent                                               24
Gang Member                                              19
Bus Driver                                               18
Security Guard                                           15
Intimate Relationship                                     6
Former Teacher                                            3
Rival School Student                                      3
Visiting Student                                          1
Name: count, dtype: int64