In [24]:
import pandas as pd
enrollment1987_1995_df = pd.read_csv("../data/1987_1995.csv")
print(enrollment1987_1995_df.shape)

(100813, 32)

In [25]:
print(enrollment1987_1995_df.columns.tolist())

['School Name', 'State Name [Public School] Latest available year', 'Total Students All Grades (Excludes AE) [Public School] 1995-96', 'Total Students All Grades (Excludes AE) [Public School] 1994-95', 'Total Students All Grades (Excludes AE) [Public School] 1993-94', 'Total Students All Grades (Excludes AE) [Public School] 1992-93', 'Total Students All Grades (Excludes AE) [Public School] 1991-92', 'Total Students All Grades (Excludes AE) [Public School] 1990-91', 'Total Students All Grades (Excludes AE) [Public School] 1989-90', 'Total Students All Grades (Excludes AE) [Public School] 1988-89', 'Total Students All Grades (Excludes AE) [Public School] 1987-88', 'Total Students All Grades (Excludes AE) [Public School] 1986-87', 'Start of Year Status [Public School] 1995-96', 'Start of Year Status [Public School] 1994-95', 'Start of Year Status [Public School] 1993-94', 'Start of Year Status [Public School] 1992-93', 'Start of Year Status [Public School] 1991-92', 'Start of Year Status [Public School] 1990-91', 'Start of Year Status [Public School] 1989-90', 'Start of Year Status [Public School] 1988-89', 'Start of Year Status [Public School] 1987-88', 'Start of Year Status [Public School] 1986-87', 'School ID (7-digit) – NCES Assigned [Public School] 1995-96', 'School ID (7-digit) – NCES Assigned [Public School] 1994-95', 'School ID (7-digit) – NCES Assigned [Public School] 1993-94', 'School ID (7-digit) – NCES Assigned [Public School] 1992-93', 'School ID (7-digit) – NCES Assigned [Public School] 1991-92', 'School ID (7-digit) – NCES Assigned [Public School] 1990-91', 'School ID (7-digit) – NCES Assigned [Public School] 1989-90', 'School ID (7-digit) – NCES Assigned [Public School] 1988-89', 'School ID (7-digit) – NCES Assigned [Public School] 1987-88', 'School ID (7-digit) – NCES Assigned [Public School] 1986-87']

In [26]:
enrollment1987_1995_df["school_id"] = enrollment1987_1995_df[
    "School ID (7-digit) – NCES Assigned [Public School] 1995-96"
]

print(enrollment1987_1995_df["school_id"].head())

0     601195
1    3601499
2    5302475
3          †
4          †
Name: school_id, dtype: str

In [27]:
enrollment1987_1995_df["school_id"] = (
    enrollment1987_1995_df["school_id"]
    .astype(str)
    .str.replace(r"[^0-9]", "", regex=True)
)

enrollment1987_1995_df["school_id"] = pd.to_numeric(
    enrollment1987_1995_df["school_id"], errors="coerce"
)

print(enrollment1987_1995_df["school_id"].head())
print(enrollment1987_1995_df["school_id"].isna().sum())

0     601195.0
1    3601499.0
2    5302475.0
3          NaN
4          NaN
Name: school_id, dtype: float64
13688

In [28]:
enrollment1987_1995_df = enrollment1987_1995_df.dropna(subset=["school_id"])

print(enrollment1987_1995_df.shape)

(87125, 33)

In [29]:
enrollment1987_1995_df["school_id"] = enrollment1987_1995_df["school_id"].astype(int)

print(enrollment1987_1995_df["school_id"].dtype)

int64

In [30]:
enrollment_cols = [
    col for col in enrollment1987_1995_df.columns
    if "Total Students All Grades" in col
]

print(enrollment_cols)

['Total Students All Grades (Excludes AE) [Public School] 1995-96', 'Total Students All Grades (Excludes AE) [Public School] 1994-95', 'Total Students All Grades (Excludes AE) [Public School] 1993-94', 'Total Students All Grades (Excludes AE) [Public School] 1992-93', 'Total Students All Grades (Excludes AE) [Public School] 1991-92', 'Total Students All Grades (Excludes AE) [Public School] 1990-91', 'Total Students All Grades (Excludes AE) [Public School] 1989-90', 'Total Students All Grades (Excludes AE) [Public School] 1988-89', 'Total Students All Grades (Excludes AE) [Public School] 1987-88', 'Total Students All Grades (Excludes AE) [Public School] 1986-87']

In [32]:
print("state" in enrollment1987_1995_df.columns)
print(enrollment1987_1995_df.columns.tolist())

False
['School Name', 'State Name [Public School] Latest available year', 'Total Students All Grades (Excludes AE) [Public School] 1995-96', 'Total Students All Grades (Excludes AE) [Public School] 1994-95', 'Total Students All Grades (Excludes AE) [Public School] 1993-94', 'Total Students All Grades (Excludes AE) [Public School] 1992-93', 'Total Students All Grades (Excludes AE) [Public School] 1991-92', 'Total Students All Grades (Excludes AE) [Public School] 1990-91', 'Total Students All Grades (Excludes AE) [Public School] 1989-90', 'Total Students All Grades (Excludes AE) [Public School] 1988-89', 'Total Students All Grades (Excludes AE) [Public School] 1987-88', 'Total Students All Grades (Excludes AE) [Public School] 1986-87', 'Start of Year Status [Public School] 1995-96', 'Start of Year Status [Public School] 1994-95', 'Start of Year Status [Public School] 1993-94', 'Start of Year Status [Public School] 1992-93', 'Start of Year Status [Public School] 1991-92', 'Start of Year Status [Public School] 1990-91', 'Start of Year Status [Public School] 1989-90', 'Start of Year Status [Public School] 1988-89', 'Start of Year Status [Public School] 1987-88', 'Start of Year Status [Public School] 1986-87', 'School ID (7-digit) – NCES Assigned [Public School] 1995-96', 'School ID (7-digit) – NCES Assigned [Public School] 1994-95', 'School ID (7-digit) – NCES Assigned [Public School] 1993-94', 'School ID (7-digit) – NCES Assigned [Public School] 1992-93', 'School ID (7-digit) – NCES Assigned [Public School] 1991-92', 'School ID (7-digit) – NCES Assigned [Public School] 1990-91', 'School ID (7-digit) – NCES Assigned [Public School] 1989-90', 'School ID (7-digit) – NCES Assigned [Public School] 1988-89', 'School ID (7-digit) – NCES Assigned [Public School] 1987-88', 'School ID (7-digit) – NCES Assigned [Public School] 1986-87', 'school_id']

In [33]:
print("state" in enrollment1987_1995_df.columns)

False

In [34]:
enrollment1987_1995_df["state"] = enrollment1987_1995_df[
    "State Name [Public School] Latest available year"
]

In [35]:
print("state" in enrollment1987_1995_df.columns)

True

In [36]:
long_df = enrollment1987_1995_df.melt(
    id_vars=["school_id", "state"],
    value_vars=enrollment_cols,
    var_name="year_raw",
    value_name="total_students"
)

print(long_df.head())
print(long_df.shape)

   school_id       state                                           year_raw  \
0     601195  California  Total Students All Grades (Excludes AE) [Publi...
1    3601499    New York  Total Students All Grades (Excludes AE) [Publi...
2    5302475  Washington  Total Students All Grades (Excludes AE) [Publi...
3    2702383   Minnesota  Total Students All Grades (Excludes AE) [Publi...
4    2702001   Minnesota  Total Students All Grades (Excludes AE) [Publi...

  total_students
0            154
1            362
2              †
3              †
4             10
(871250, 4)

In [37]:
long_df["year"] = (
    long_df["year_raw"]
    .str.extract(r"(\d{4})-(\d{2})")[1]  # grab the ending 2-digit year
    .astype(int)
)

long_df["year"] = 1900 + long_df["year"]

print(long_df[["year_raw", "year"]].head())

                                            year_raw  year
0  Total Students All Grades (Excludes AE) [Publi...  1996
1  Total Students All Grades (Excludes AE) [Publi...  1996
2  Total Students All Grades (Excludes AE) [Publi...  1996
3  Total Students All Grades (Excludes AE) [Publi...  1996
4  Total Students All Grades (Excludes AE) [Publi...  1996

In [38]:
long_df["total_students"] = (
    long_df["total_students"]
    .astype(str)
    .str.replace(r"[^0-9]", "", regex=True)
)

long_df["total_students"] = pd.to_numeric(
    long_df["total_students"], errors="coerce"
)

print(long_df[["total_students"]].head())
print("Missing:", long_df["total_students"].isna().sum())

   total_students
0           154.0
1           362.0
2             NaN
3             NaN
4            10.0
Missing: 86736

In [39]:
long_df = long_df.dropna(subset=["total_students"])

print(long_df.shape)

(784514, 5)

In [40]:
long_df = long_df[["school_id", "state", "year", "total_students"]]

print(long_df.head())
print(long_df.shape)

   school_id       state  year  total_students
0     601195  California  1996           154.0
1    3601499    New York  1996           362.0
4    2702001   Minnesota  1996            10.0
5    2701986   Minnesota  1996             6.0
6    2702588   Minnesota  1996            15.0
(784514, 4)

In [41]:
long_df["total_students"] = long_df["total_students"].astype(int)

print(long_df.dtypes)

school_id         int64
state               str
year              int64
total_students    int64
dtype: object

In [42]:
long_df.to_csv("../data/1987_1995_long.csv", index=False)